$color-theme-1: #00b7ba;
$color-theme-2: #00d0d4;
$color-theme-3: #00e8ed;

$color-theme-list: $color-theme-1, $color-theme-2, $color-theme-3;

$color-grey-1: #4c4c4c;
$color-grey-2: #606060;
$color-grey-3: #818181;
$color-grey-4: #a5a5a5;
$color-grey-5: #dbdbdb;

$color-grey-list: $color-grey-1, $color-grey-2, $color-grey-3, $color-grey-4, $color-grey-5;

$color-white: #FFFFFF;
